@import '../../../style/colors';
@import '../../../style/globals';

.join-course {
  background-color: $clr-light;
  background: $gradient-background;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  min-height: calc(100vh - $navbar-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
