@import '../../../style/colors';

.radio-buttons {
  &__header-label {
    font-size: 1.2rem;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  &__options {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__group {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__input {
    appearance: none;
    background-color: $clr-light;
    margin: 0;
    font: inherit;
    color: $clr-light-grey;
    width: 1.5em;
    height: 1.5em;
    aspect-ratio: 1;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    display: grid;
    place-content: center;
    transition: all 0.3s ease-in-out;

    &:focus {
      color: $clr-accent;
    }

    &::before {
      content: '';
      display: inline-block;
      width: 1em;
      height: 1em;
      aspect-ratio: 1;
      border-radius: 50%;
      transform: scale(0);
      transition: 0.15s transform ease-in-out;
      box-shadow: inset 1em 1em $clr-accent;
    }

    &:checked::before {
      transform: scale(1);
    }
  }

  &__error {
    margin-top: 5px;
    font-size: 0.9rem;
    color: $clr-accent;
  }
}
