$clr-dark: #120309;
$clr-light: #fcfcff;
$clr-grey: #9c9a9a;
$clr-light-grey: #c7c7c7;

$clr-primary: #3f88c5;
$clr-primary-200: #c7dffb;
$clr-accent: #e06c9f;

$clr-success-300: #0a9753;
$clr-success-200: #48b686;
$clr-error: #d1003a;
