$clr-dark: #120309;
$clr-light: #fcfcff;
$clr-grey: #9c9a9a;
$clr-light-grey: #ddd;

$clr-primary: #3f88c5;
$clr-primary-200: #c7dffb;
$clr-accent: #e06c9f;

$clr-notify-success: #0a9753;
$clr-notify-error: #d1003a;

