@import '../../../style/colors';

.exam {
  margin: 0 auto 30px auto;
  max-width: 900px;
  width: calc(100% - 40px);

  &__name {
    font-size: 1.7rem;
    margin-bottom: 20px;
    color: $clr-accent;
  }

  &__description {
    padding: 20px 0;
    font-size: 1.15rem;
    line-height: 1.8;
    color: $clr-grey;
  }
}
