@import '../../../style/colors';
@import '../../../style/media-queries';

.exam-results-modal {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  transition: all 0.3s ease-in-out;

  @include tablet {
    padding: 30px;
  }

  &__header {
    text-align: center;
    font-size: 1.4rem;
    color: $clr-grey;
  }

  &__score,
  &__passed {
    color: $clr-grey;

    span {
      margin-left: 5px;
      font-size: 1.4rem;
      color: $clr-primary;
    }
  }

  &__passing-threshold {
    color: $clr-grey;
  }
}
