@import '../../../style/colors';

.exam-questions {
  &__button {
    background-color: $clr-accent;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    color: $clr-light;
    border-radius: 15px;
    margin-top: 20px;
  }
}
